
.seccionContacto{
    @extend%flexrow;
    justify-content: center;
    padding: 20px;
    margin: 0px;
    background: rgb(24,1,1);
    background: linear-gradient(180deg, rgb(87, 7, 7) 35%, rgba(97,96,96,1) 67%, rgb(248, 147, 147) 95%, white 100%);
    color: rgb(255, 255, 255);
    input,textarea, select{
        border-radius:10px ;
        padding: 10px;
    }
    .form-check-input:checked{
        appearance: none;
        width: 1rem;
        height: 1rem;
        border-radius: 40%;
        background-color: $colorTerciario;
    }
}
.botonForm{
    background-color: $colorTerciario;
    color: white;
    border-radius: 0.8rem;
    padding: 5px;
    margin: 10px;
    border: solid $colorTerciario;
}
.buttons{
    @extend%flexrow;
    justify-content: center;
}
